
#pokexScanInsideSearch {
  margin-top: 22px;
}

#pokexScanInsideSearch #visualScanBtn {
  width: 100% !important;
  max-width: none !important;
}

.pokex-or {
  display: flex;
  align-items: center;
  gap: 12px;

  margin: 2px 0 17px;

  color: #7f8aa5;
}

.pokex-or span {
  flex: 1;
  height: 1px;
  background: rgba(255,255,255,.10);
}

.pokex-or b {
  font-size: 14px;
  font-weight: 600;
}

